.solid-footer {
    height: 100px;
    background-color: #40414A;
    color: white;
}

.solid-footer p {
    line-height: 90px;
    margin-bottom: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 1.4em;
    letter-spacing: .1em;
}

@media (max-width: 414px) {
    .solid-footer {
        display: none;
    }
}