     /* delete */
     /* delete */
     
     #skills {
         background-color: white;
         color: white;
         min-height: 100vh;
         display: flex;
         justify-content: center;
     }
     
     #skills-title {
         z-index: 20;
         color: #40414A;
         margin-top: 4rem;
         text-align: center;
     }
     /* TABLE */
     
     table {
         width: 100%;
         table-layout: fixed;
         border-collapse: collapse;
         margin-bottom: 2rem;
     }
     
     td {
         position: relative;
     }
     
     .cell-text {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translateX(-50%) translateY(-50%);
         text-transform: uppercase;
         font-family: 'Lato';
         text-align: center;
         font-size: 2vw;
     }
     
     .cell-bulk {
         padding-top: 100%;
         margin-right: 0;
     }
     
     .style4, .style14, .style16 {
         background: #2E6171;
     }
     
     .style2, .style18 {
         background: gray;
     }
     
     .style3, .style10, .style13 {
         background: #40414A;
     }
     
     .style5, .style9, .style17, .style7 {
         background: #E7E247;
     }
     
     .style12, .style8, .style15 {
         background: #aeafb3;
     }
     
     .style6, .style11, .style1 {
         background: #3A405A;
     }
     /* TABLE HOVER */
     
     td:hover {
         color: black;
         font-weight: 600;
     }
     
     .style12:hover, .style15:hover {
         background: #40414A;
     }
     
     .style3:hover, .style10:hover {
         background-image: linear-gradient(135deg, #2E6171 50%, #dbdbdd 50%);
     }
     
     .style2:hover, .style8:hover, .style18:hover {
         background-image: linear-gradient( #f7f7f7, #f7f7f7 7px, #40414A 7px, #40414A);
         background-size: 100% 14px;
     }
     
     .style1:hover, .style7:hover, .style14:hover {
         background-image: linear-gradient(45deg, #E7E247 50%, #f7f7f7 50%);
     }
     
     .style13:hover {
         background-image: linear-gradient(135deg, #40414A 50%, transparent 50%), linear-gradient( #f7f7f7, #f7f7f7 7px, #40414A 7px, #40414A);
         background-size: 100%, 100% 14px;
     }
     
     .style4:hover, .style9:hover {
         background: linear-gradient(45deg, #dbdbdd 50%, transparent 50%), radial-gradient(#40414A 4px, transparent 4px), radial-gradient(#40414A 4px, transparent 4px), transparent;
         background-size: 100%, 24px 24px, 24px 24px, 100%;
         background-position: 0 0, -2px 6px, 10px 18px, 0 0;
     }
     
     .style6:hover {
         background-image: linear-gradient(315deg, #E7E247 50%, #f7f7f7 50%);
     }
     
     .style16:hover {
         background-image: linear-gradient(225deg, #2E6171 50%, #f7f7f7 50%);
     }
     
     .style11:hover {
         background-image: linear-gradient(45deg, #2E6171 50%, #f7f7f7 50%);
     }
     
     .style5:hover {
         background-image: linear-gradient(225deg, #E7E247 50%, #f7f7f7 50%);
     }
     
     .style17:hover {
         background-image: linear-gradient(to right, #2E6171, #2E6171 4px, #f7f7f7 4px, #f7f7f7);
         background-size: 8px 100%;
     }
     
     @media (max-width: 545px) {
         .cell-text {
             font-size: .5rem;
         }
         #text-container {
             top: 0;
             left: 0;
             transform: none;
             position: relative;
         }
     }